Repository storm-fsv-cvut/smoderp2d, pull requests merged in 2023-12, with the labels that each got.

#299 QGIS: add button to abort the computation
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
  smoderp2d/exceptions.py
  smoderp2d/providers/logger.py
Labels: QGIS

#306 Rain sim test data: use all points
  smoderp2d/providers/arcgis/data_preparation.py
  tests/data/rain_sim/ObsPoints.cpg
  tests/data/rain_sim/ObsPoints.dbf
  tests/data/rain_sim/ObsPoints.prj
  tests/data/rain_sim/ObsPoints.qix
  tests/data/rain_sim/ObsPoints.shp
  tests/data/rain_sim/ObsPoints.shp.xml
  tests/data/rain_sim/ObsPoints.shx
  tests/data/rain_sim/points.dbf
  tests/data/rain_sim/points.shp
  tests/data/rain_sim/points.shp.xml
  tests/data/rain_sim/points.shx
  tests/data/reference/gistest_rain_sim/dpre/arcgis/dpre.save
  tests/data/reference/gistest_rain_sim/dpre/grass/dpre.save
  tests/data/reference/gistest_rain_sim/full/control_point/point001.csv
  tests/data/reference/gistest_rain_sim/full/control_point/point002.csv
  tests/data/reference/gistest_rain_sim/full/control_point/point003.csv
  tests/data/reference/gistest_rain_sim/full/control_point/point004.csv
  tests/data/reference/gistest_rain_sim/full/control_point/point005.csv
  tests/data/reference/gistest_rain_sim/full/control_point/point006.csv
Labels: bug, ArcGIS

#309 Run gistests by shell script
  .github/workflows/grass_provider.yml
  tests/run_grass_gistest.sh
  tests/test_arcgis.py
  tests/test_grass.py
Labels: tests

#308 Do not fail on broken historical items
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
Labels: bug, QGIS

#236 QGIS: hide cmd windows
  README.md
  bin/qgis/grass_patch/core.py
  bin/qgis/smoderp2d-plugin/connect_grass.py
  smoderp2d/__init__.py
  smoderp2d/providers/grass/__init__.py
  smoderp2d/providers/grass/data_preparation.py
Labels: QGIS, GRASS GIS, MS Windows

#312 Fix QGIS plugin: no module grass
  bin/arcgis/SMODERP2D.pyt
  bin/grass/r.smoderp2d/r.smoderp2d.py
  bin/qgis/smoderp2d-plugin/connect_grass.py
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
  bin/start.py
  bin/wps/pywps/processes/profile1d.py
  bin/wps/pywps/processes/smoderp2d.py
  smoderp2d/__init__.py
  smoderp2d/providers/grass/__init__.py
  smoderp2d/runners/arcgis.py
  smoderp2d/runners/base.py
  smoderp2d/runners/grass.py
  smoderp2d/runners/qgis.py
  smoderp2d/runners/wps.py
  tests/test_arcgis.py
  tests/test_cmd.py
  tests/test_grass.py
  tests/test_profile1d.py
Labels: bug, QGIS

#316 Move dpre_only option to hidden config
  README.md
  bin/arcgis/SMODERP2D.pyt
  bin/grass/r.smoderp2d/r.smoderp2d.py
  smoderp2d/.config.ini
  smoderp2d/providers/base/__init__.py
Labels: ArcGIS, GRASS GIS

#317 Catch permission error
  smoderp2d/providers/base/__init__.py
Labels: QGIS

#318 time_step: move global variables to be class variables
  smoderp2d/time_step.py
Labels: bug, QGIS

#322 QGIS: fix points field cannot be unset once points were set
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
Labels: bug, QGIS

#323 QGIS: allow settings with unset optional parameters in history
  bin/qgis/smoderp2d-plugin/custom_widgets.py
Labels: bug, QGIS

#324 QGIS: override projection in GRASS r.import if not specified
  smoderp2d/runners/qgis.py
Labels: QGIS
