Repository storm-fsv-cvut/smoderp2d, pull requests merged in 2023-10, with the labels that each got.

#183 Update GitHub workflow from Python 3.8 to 3.9
  .github/workflows/cmd_provider.yml
  .github/workflows/cmd_template.yml
  .github/workflows/grass_provider.yml
  .github/workflows/requirements.txt
  .github/workflows/requirements3.11.txt
  .github/workflows/requirements3.8.txt
  .github/workflows/requirements3.9.txt
Labels: tests

#244 add tests for sheet_stream
  .github/workflows/cmd_provider.yml
  tests/config_files/gistest.ini
  tests/config_files/profile1d.ini
  tests/config_files/quicktest_rill.ini
  tests/config_files/quicktest_sheet.ini
  tests/config_files/quicktest_sheet_stream.ini
  tests/config_files/test_rill.ini
  tests/config_files/test_sheet.ini
  tests/config_files/test_sheet_stream.ini
  tests/data/reference/quicktest_sheet_stream/control/cinfil_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/crain_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/crillvout_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/csheetvout_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/cvin_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/massbalance.asc
  tests/data/reference/quicktest_sheet_stream/control/mqrill_m3_s.asc
  tests/data/reference/quicktest_sheet_stream/control/mqsheet_m3_s.asc
  tests/data/reference/quicktest_sheet_stream/control/mwlevelrill_m.asc
  tests/data/reference/quicktest_sheet_stream/control/surfacestate.asc
  tests/data/reference/quicktest_sheet_stream/control/surret_m.asc
  tests/data/reference/quicktest_sheet_stream/control/volrest_m3.asc
  tests/data/reference/quicktest_sheet_stream/control/widthrill.asc
  tests/data/reference/quicktest_sheet_stream/control_point/point000.csv
  tests/data/reference/quicktest_sheet_stream/control_point/point001.csv
  tests/data/reference/quicktest_sheet_stream/control_point/point002.csv
  tests/data/reference/quicktest_sheet_stream/control_point/point003.csv
  tests/data/reference/quicktest_sheet_stream/cvsur_m3.asc
  tests/data/reference/quicktest_sheet_stream/mqsur_m3_s.asc
  tests/data/reference/quicktest_sheet_stream/mrsearstr_pa.asc
  tests/data/reference/quicktest_sheet_stream/mvel_m_s.asc
  tests/data/reference/quicktest_sheet_stream/mwlevel_m.asc
  tests/data/reference/test_sheet_stream/control/cinfil_m3.asc
  tests/data/reference/test_sheet_stream/control/crain_m3.asc
  tests/data/reference/test_sheet_stream/control/crillvout_m3.asc
  tests/data/reference/test_sheet_stream/control/csheetvout_m3.asc
  tests/data/reference/test_sheet_stream/control/cvin_m3.asc
  tests/data/reference/test_sheet_stream/control/massbalance.asc
  tests/data/reference/test_sheet_stream/control/mqrill_m3_s.asc
  tests/data/reference/test_sheet_stream/control/mqsheet_m3_s.asc
  tests/data/reference/test_sheet_stream/control/mwlevelrill_m.asc
  tests/data/reference/test_sheet_stream/control/surfacestate.asc
  tests/data/reference/test_sheet_stream/control/surret_m.asc
  tests/data/reference/test_sheet_stream/control/volrest_m3.asc
  tests/data/reference/test_sheet_stream/control/widthrill.asc
  tests/data/reference/test_sheet_stream/control_point/point001.csv
  tests/data/reference/test_sheet_stream/control_point/point002.csv
  tests/data/reference/test_sheet_stream/control_point/point003.csv
  tests/data/reference/test_sheet_stream/control_point/point005.csv
  tests/data/reference/test_sheet_stream/cvsur_m3.asc
  tests/data/reference/test_sheet_stream/mqsur_m3_s.asc
  tests/data/reference/test_sheet_stream/mrsearstr_pa.asc
  tests/data/reference/test_sheet_stream/mvel_m_s.asc
  tests/data/reference/test_sheet_stream/mwlevel_m.asc
  tests/test_profile1d.py
Labels: tests

#249 Check streams_channel_type_fieldname
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
  smoderp2d/providers/arcgis/data_preparation.py
  smoderp2d/providers/base/data_preparation.py
  smoderp2d/providers/grass/data_preparation.py
Labels: bug

#246 QGIS: fix color ramp
  smoderp2d/__init__.py
Labels: bug, QGIS

#251 QGIS: add results into new group
  bin/qgis/smoderp2d-plugin/smoderp_2D_dockwidget.py
  smoderp2d/__init__.py
Labels: QGIS

#273 DEM resolution differs from processing spatial resolution (#256)
  smoderp2d/providers/arcgis/data_preparation.py
  smoderp2d/providers/base/data_preparation.py
  smoderp2d/providers/grass/data_preparation.py
Labels: ArcGIS, GRASS GIS

#281 AUTODETECT_TYPE only for CSV data source
  smoderp2d/__init__.py
Labels: QGIS

#248 Show reasonable error message when GRASS module fails
  smoderp2d/providers/grass/__init__.py
  smoderp2d/providers/grass/data_preparation.py
Labels: GRASS GIS
